@import '@/styles/partials/layout';

.container {
	max-width: 300px;
	margin: auto;
	@include breakpoint(sm) {
		max-width: 760px;
	}
	@include breakpoint(sm) {
		max-width: 576px;
	}
	@include breakpoint(md) {
		max-width: 768px;
	}
	@include breakpoint(lg) {
		max-width: 992px;
	}
	@include breakpoint(xl) {
		max-width: 1200px;
	}
	@include breakpoint(xxl) {
		max-width: 1440px;
	}
}
