.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: lighten(#121215, 2%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  z-index: 50;
  &__container {
    display: flex;
  }
}
