@import '@/styles/partials/colours';

.nav {
  padding: 1rem;
  padding-top: 4rem;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-left: 2px solid $copper;
  }
}
.btn {
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
}
