.nav {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-left: 2px solid pink;
  }
}
.btn {
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
  &__active {
    background: pink;
  }
}
