@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Source+Code+Pro:wght@700&display=swap');

html,
body {
	font-size: 18px;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 700;
}

h1 {
	font-size: clamp(1.6rem, 0.175rem + 7.125vw, 3.5rem);
}

h2 {
	font-size: clamp(1.4rem, 0.575rem + 4.125vw, 2.5rem);
}

h3 {
	font-size: clamp(1.2rem, 0.6rem + 3vw, 2rem);
}

h4,
h5,
h6 {
	font-size: clamp(1rem, 0.625rem + 1.875vw, 1.5rem);
}

