/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './partials/typography';
@import './partials/accessibility';

html,
body {
  @apply bg-background text-font;
  a {
    @apply text-font;
  }
  #main-content {
    margin-top: 63px;
    padding-bottom: 4rem;
    min-height: 80vh;
  }
}

button {
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
