@import './partials/reset';
@import './partials/typography';
@import './partials/accessibility';
@import './partials/colours';

html,
body {
  background-color: $background;
  color: $fontMain;
  a {
    color: $fontMain;
  }
  #main-content {
    margin-top: 56px;
    padding-bottom: 4rem;
  }
}
