/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './partials/typography';
@import './partials/accessibility';
@import './partials/colours';

html,
body {
  background-color: $background;
  color: $fontMain;
  a {
    color: $fontMain;
  }
  #main-content {
    margin-top: 63px;
    padding-bottom: 4rem;
    min-height: 80vh;
  }
}

button {
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
