.category {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__list_item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
