@import '@/styles/partials/colours';

.user_details {
  text-align: center;
  background-color: lighten($background, 2%);
}
.user_bio {
  text-align: center;
  max-width: 400px;
  margin: auto;
}
.avatar {
  border-radius: 50%;
  border: 3px solid $accentBlue;
  display: inline-block;
  width: 250px;
  margin: 2rem auto 0;
  overflow: hidden;
  background: lighten($background, 5%);
}
