@import '@/styles/partials/colours';

.repos {
  background-color: lighten($background, 1%);
  overflow: auto;
  h2 {
    text-align: center;
  }
}
.repo_item {
  height: 100%;
}

.repo {
  padding: 1rem;
}
