@import '@/styles/partials/colours';

.info {
	background-color: $lightGrey;
	color: $fontDark;
}
.left {
	padding: 4rem 2rem;
}
.right {
	display: flex;
	justify-items: flex-end;
	img {
		margin: auto;
		display: block;
	}
}

.image_container {
	display: flex;
	margin-left: auto;
}