.item {
  margin: 2rem 0 4rem;
}

.heading {
  font-size: 1.3rem;
  &__separator {
    margin: 0 0.5rem;
    opacity: 0.5;
    font-size: 0.8rem;
  }
}
.date {
  font-style: italic;
  opacity: 0.5;
  font-size: 0.9rem;
}

.highlights__title {
  font-size: 1.3rem;
  margin: 0 0.5rem;
  opacity: 0.5;
}
